{% extends "base.html" %}

{% block content %}


<div class="card bg-secondary text-white">
    <div class="card-body">
      <h5 class="card-title">Information for patients and visitors</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum eligendi deserunt eum, nemo sit iste modi, adipisci, totam facilis voluptatum quod in vero consequuntur blanditiis enim est unde optio odio. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
</div>

<div class="container text-center my-5">
    <h2>Our Services</h2>
    <div class="row gap-3">
      <div class="col d-flex justify-content-center">
        <div class="card bg-primary text-white" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Lorem, ipsum dolor.</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum facilis accusantium ab quia, soluta ipsum?.</p>
            </div>
          </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card bg-primary text-white" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Lorem, ipsum dolor.</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum facilis accusantium ab quia, soluta ipsum?.</p>
            </div>
          </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card bg-primary text-white" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Lorem, ipsum dolor.</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum facilis accusantium ab quia, soluta ipsum?.</p>
            </div>
          </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card bg-primary text-white" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Lorem, ipsum dolor.</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum facilis accusantium ab quia, soluta ipsum?.</p>
            </div>
          </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card bg-primary text-white" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Lorem, ipsum dolor.</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum facilis accusantium ab quia, soluta ipsum?.</p>
            </div>
          </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card bg-primary text-white" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Lorem, ipsum dolor.</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum facilis accusantium ab quia, soluta ipsum?.</p>
            </div>
          </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <h2>Why pick us?</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptate officia cupiditate explicabo laboriosam quisquam harum commodi nostrum autem adipisci quis accusantium odit magni repellendus dignissimos quaerat possimus aperiam fugit neque, minus dolores, molestiae consequatur ratione perferendis! Corporis, necessitatibus enim.

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptatum, esse suscipit provident aliquam quas recusandae. Nobis natus tenetur vitae tempora modi ipsum libero error similique iusto totam! Obcaecati, commodi.
    </div>
    <div class="col-sm">
        <h2> How do private GP appointments work?</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus cum ipsa corporis. Perferendis id, voluptatem nihil provident repellendus praesentium maxime doloribus voluptate voluptates quam odio corporis sapiente laboriosam blanditiis repellat!
    </div>
</div>

{% endblock %}