{% extends "base.html" %}
{% load django_bootstrap5 %}


{% block content %}

<form method="post" action="{% url 'patient_search' %}" class="form-group">
    {% csrf_token %}
    <div class="input-group">
        <input type="text" name="patient_search" value="" class="form-control">
        {% bootstrap_button button_type="submit" content="search" %}
    </div>
</form>

    {% if usernames %}
    <table class="table table-striped">
    <th>Patient Username</th>
    {% for username in usernames %}
    <tr>
        <td>
            <a href = "{% url 'patient_data' patient_username=username %}"> {{ username }} </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<br>
{% if searched_user %}
<h2>Patient Infomation</h2>
    <table class = "table table-striped">
        <thead>
            <tr>
                <th>Account ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Account Email</th>
                <th>NHS Patient</th>
            </tr>    
        </thead>
        <tbody>
            <td>{{ searched_user.id }} </td>
            <td>{{ searched_user.first_name }} </td>
            <td>{{ searched_user.last_name }} </td>
            <td>{{ searched_user.email }} </td>
            <td>{{ searched_user.isNHS }} </td>
        </tbody>
    </table>
{% endif %}


{% if prescriptions %}
<br>
<h2>List of Prescriptions</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Prescriptioner</th>
                <th>Patient</th>
                <th>Price</th>
                <th>Payment Required</th>
                <th>Is Repeating</th>
                <th>Time Prescribed</th>
                <th>Approved</th>
                <th>Related previous prescription</th>
            </tr>
        </thead>
        <tbody>
            {% for prescription in prescriptions %}
            <tr>
                <td>{{ prescription.id }}</td>
                <td>{{ prescription.prescriptioner }}</td>
                <td>{{ prescription.patient }}</td>
                <td>{{ prescription.price }}</td>
                <td>{{ prescription.paymentRequired }}</td>
                <td>{{ prescription.isRepeating }}</td>
                <td>{{ prescription.prescriptionTime }}</td>
                <td>{{ prescription.isApproved }}</td>
                <td>{{ prescription.previousPrescription.id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}



{% endblock %}