{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block content %}
<form method="post" action="{% url 'user_list' %}" class="form-group">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content="Search" %}
</form>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Full Name</th>
            <th scope="col">Role</th>
        </tr>
        </thead>
    <tbody>
    {% for user in page_obj %}
    <tr onclick="window.location='{{user.id}}';" {% if user.is_active is False %}class="bg-warning text-dark"{% endif %} style="cursor: pointer;">
        <th scope="row">{{ user.id }}</th>
        <td>{{ user }}</td>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>{{ user.role }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% bootstrap_pagination page_obj url="/user?page=1&flop=flip" extra="q=foo" size="sm" %}
{% endblock %}